<div>
  <img
    src="../../../../assets/img/lineas-programadores-programa.jpg"
    class="card-img-top banner"
    alt=""
  />
</div>

<div class="container">
    <!-- titulo -->
  <div class="mt-5">
    <h2>
      Software Administrativo
      <span
        ><img
          src="../../../../assets/img/tecnologias/WordPress_blue_logo.svg.png"
          class="logo"
          alt=""
      /></span>
      <span>
        <img
        src="../../../../assets/img/tecnologias/flexi.png"
        class="flexy"
        alt=""/>
      </span>
    </h2>
  </div>
  <!-- Descripcion -->
  <div class="row mt-5">
    <div class="card shadow p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <h3>Descripcion alcance de la tecnologia</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima non
          accusantium, consequatur fugit quaerat quo hic iste corporis
          repudiandae culpa libero eum quibusdam, unde modi sequi possimus
          maiores, reprehenderit nulla.
        </p>
      </div>
    </div>
  </div>
</div>
