<!-- banner -->
<div>
  <img
    src="../../../../assets/img/lineas-programadores-programa.jpg"
    class="card-img-top banner"
    alt=""
  />
</div>
<!-- contenido -->
<div class="container">
  <div class="row">
      <!-- titulo -->
    <h1 class="mt-5 mb-5">
      Fronend
      <span>
        <img
          src="../../../../assets/img/tecnologias/Angular_full_color_logo.svg.png"
          class=" logo"
          alt=""
        />
      </span>
    </h1>
  </div>
  <!-- tarjeta para descripcion -->
  <div class="row">
    <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <h3>Descripcion alcance de la tecnologia</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima non
            accusantium, consequatur fugit quaerat quo hic iste corporis
            repudiandae culpa libero eum quibusdam, unde modi sequi possimus
            maiores, reprehenderit nulla.
          </p>
        </div>
      </div>
  </div>
  <!-- tarjeta de informacion adicional -->
  <div class="row">
    <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <h3>Datos adicionales</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima non
            accusantium, consequatur fugit quaerat quo hic iste corporis
            repudiandae culpa libero eum quibusdam, unde modi sequi possimus
            maiores, reprehenderit nulla.
          </p>
        </div>
      </div>
  </div>

</div>
