/* You can add global styles to this file, and also import other style files */

html{
    height: 100%;
}

.row{
    --bs-gutter-x: 0;
}

.banner{
    object-fit: cover;
    height: 400px;
}

.logo{
    object-fit: cover;
    height: 50px;
    width: 50px;
}