.card{
    width: 100vh;
    margin: 20px;
    margin-top: 60px;
    border-radius: 30px;
    justify-content: center;
}

.container{
    display: flex;
    justify-items: center;
    justify-content:center ;
    
}
input{ 
    margin: 10px 0px;
}


